# Auto detect text files and perform LF normalization
* text=auto

# Define LF line endings for certain types of files
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
